@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}


/* Styles For the navigation-bar */

nav{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    padding: 8px;
    color: #757575;
}

nav .logo-area{
    display: flex;
    align-items: center;
}

.logo-area #keep-text{
    font-size: 1.2rem;
    cursor: pointer;
}


nav .search-area{
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    width: 692px;
    height: 48px;
    border-radius: 8px;
}

.search-area input{
    border: none;
    background-color: #f1f3f4;
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 1.1rem;
    margin-left: 10px;
}

.search-area .material-icons{
    margin-left: 10px;
}

nav .material-icons{
    padding: 10px;
    cursor: pointer;
}

nav .settings-area{
    display: flex;
}


nav .profile-area{
    display: flex;
    margin-right: 20px;
}

.tooltip{
    position: relative;
}

.tooltip-text{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #323232;
    color: white;
    border-radius: 5px;
    white-space: nowrap;
    padding: 5px;
    opacity: 80%;
    visibility: hidden;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    transition-delay: .3s;
}

/* Hover Styles for the navigation-bar */
nav .material-icons:hover{
    background-color: #f1f3f4;
    border-radius: 50%;
    color: black;
}


nav .logo-area img:hover{
    cursor: pointer;
}

nav .logo-area span:last-child:hover{
    cursor: pointer;
}


/* Styles For the main Section */
.side-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 0;
    padding: 10px 0px;
    width: 80px;
    overflow-x: hidden;
}

.side-bar .material-icons{
    color: #757575;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.side-bar .active{
    background-color: #feefc3;
    border-radius: 50%;
    padding: 10px;
    color: black;
}

.side-bar .material-icons:hover{
    color: black;
}

.side-bar .side-bar-items{
    display: flex;
    align-items: center;
}

.side-bar .side-bar-items span:nth-child(2){
    margin-left: 20px;
    font-size: 1rem;
    width: 250px;
}

/* Styles for the Form-Container */

.form-container{
    height: 46px;
    max-width: 598px;
    margin: 40px auto;
    background-color: #ffffff;
    box-shadow: 3px 3px 30px #c2c3c3;
    border: 1px solid #e0e1e0;
    border-radius: 10px;
}

.form-container form{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.form-container .note-text{
    height: 100%;
    border: none;
    width: 80%;
}

.form-container input{
    outline: none;
    margin-left: 20px;
    font-size: 1rem;
}

.form-container .form-icons{
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #757575;
}

.form-container .form-icons .material-icons{
    cursor: pointer;
    padding: 10px;
}

.form-container .material-icons:hover{
    background-color: #f1f3f4;
    color: black;
    border-radius: 50%;
}

/* Styles For the Second Form Container */
.active-form{
    height: 130px;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 27.4%;
    visibility: hidden;
}

.active-form form{
    display: flex;
    flex-direction: column;
}

.active-form form .note-take{
    border: none;
    margin-top: 10px;
}

.active-form .form-icons{
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
}

.active-form .form-icons .icons{
    display: flex;
}

.active-form .form-icons .material-icons{
    font-size: 1.2rem;
    padding: 10px;
}

.active-form .form-icons #doing:hover{
    cursor:not-allowed;
}

.active-form .form-icons .close-text{
    color: black;
    margin-right: 10px;
    cursor: pointer;
    font-size: small;
}

.active-form .form-icons .material-icons:hover{
    color: black;
    background-color: #f1f3f4;
    border-radius: 50%;
}


/* Styles For the Notes Section*/
.notes-section{
    display: flex;
    flex-direction: row;
    width: 50px;
    margin-left: 10em;
}

.notes-content{
    display: flex;
    width: 100%;
    gap: 12.5em;
}

.notes{
    width: 240px;
    background-color: #ffffff;
    box-shadow: 3px 3px 30px #c2c3c3;
    border: 1px solid #e0e1e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex-wrap: wrap;
}

.notes:hover{
    box-shadow: 3px 3px 30px black;
}

.notes .note-title{
    margin-left: 10px;
    margin-top: 15px;
    font-size: medium;
    font-weight: 500;
    color: black;
}

.notes .note-text{
    margin-left: 10px;
}

.notes .note-icons{
    display: flex;
}

.notes .note-icons .material-icons{
    font-size: 1.2rem;
    color: #757575;
    cursor: pointer;
    padding: 10px;
    visibility: hidden;
}

.notes:hover .material-icons{
    visibility: visible;
    transition: ease-in;
}

.notes .note-icons .material-icons:hover{
    color: black;
    background-color: #f1f3f4;
    border-radius: 50%;
}

.notes .checkbox{
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
    visibility: hidden;
}

/* Styles For the Modal */
.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal-open{
    visibility: visible;
}

.modal .modal-content{
    height: 150px;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 3px 3px 30px #c2c3c3;
    border: 1px solid #e0e1e0;
    border-radius: 10px;
    margin: 40px auto;
    position: absolute;
    top: 20%;
    left: 27.5%;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.modal-content form input{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: black;
    height: 2em;
}

.modal-content form span:first-child input{
    font-size: 1.3rem;
}

.modal-content .form-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content .form-icons .icons{
    display: flex;
    margin-top: 10px;
}

.modal-content .form-icons .material-icons{
    font-size: 1.2rem;
    padding: 10px;
    color: #757575;
    cursor: pointer;
}

.modal-content .form-icons .close-text{
    color: black;
    margin-right: 15px;
    cursor: pointer;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-text #timeStamp{
    cursor: auto;
}

.modal-content .form-icons .material-icons:hover{
    color: black;
    background-color: #f1f3f4;
    border-radius: 50%;
}



